<div class="container">
  <!-- Garage Details -->

  <div class="row mb-4">
    <div class="col-12 text-center">
      <h3><strong>RINKU BULLET WORKSHOP</strong></h3>
      <p>Sector 28, Nerul, Navi Mumbai, Maharashtra 400706</p>
      <p>Phone: <strong>90226 50656</strong></p>
    </div>
  </div>
  <h3 class="text-center mb-4">Service Invoice</h3>
  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="col-md-3">
        <label class="form-label">Customer Name</label>
        <input type="text" class="form-control" formControlName="customerName">
      </div>
      <div class="col-md-3">
        <label class="form-label">Service Consultant</label>
        <input type="text" class="form-control" formControlName="serviceConsultant">
      </div>
      <div class="col-md-3">
        <label class="form-label">Address</label>
        <input type="text" class="form-control" formControlName="address">
      </div>
      <div class="col-md-3">
        <label class="form-label">Model Code</label>
        <input type="text" class="form-control" formControlName="modelCode">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <label class="form-label">Registration Number</label>
        <input type="text" class="form-control" formControlName="registrationNumber">
      </div>
      <div class="col-md-3">
        <label class="form-label">Job Card Number</label>
        <input type="text" class="form-control" formControlName="jobCardNumber">
      </div>
      <div class="col-md-3">
        <label class="form-label">Model Name</label>
        <input type="text" class="form-control" formControlName="modelName">
      </div>
      <div class="col-md-3">
        <label class="form-label">Job Card Date</label>
        <input type="date" class="form-control" formControlName="jobCardDate">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3">
        <label class="form-label">Odometer Reading</label>
        <input type="text" class="form-control" formControlName="odometerReading">
      </div>
      <div class="col-md-3">
        <label class="form-label">Recipient GSTIN</label>
        <input type="text" class="form-control" formControlName="recipientGSTIN">
      </div>
      <div class="col-md-6">
        <label class="form-label">Customer Voice</label>
        <textarea class="form-control" rows="3" formControlName="customerVoice"></textarea>
      </div>
    </div>

    <div class="container">
      <h3 class="text-center">Parts Description</h3>
      <table class="table table-bordered table-striped text-center">
        <thead class="table-dark">
          <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Qty</th>
            <th>Price per Qty</th>
            <th>Amount</th>
            <th class="no-print">Actions</th>
          </tr>
        </thead>
        <tbody formArrayName="parts">
          <tr *ngFor="let part of parts.controls; let i = index" [formGroupName]="i">
            <td><input style="width: 100px;" type="text" class="form-control" formControlName="code"></td>
            <td style="width: auto; white-space: nowrap;">
              <div class="dropdown-container">
                <input style="width:  400px !important;" type="text" formControlName="SeachablePart"
                  (input)="onSearchInput(part, i)" placeholder="Search part..." class="search-box" />
                <ul *ngIf="PartsfilteredOptions.length > 0" class="dropdown-list">
                  <li *ngFor="let option of PartsfilteredOptions; let j = index" (click)="selectPart(option, i)"
                    class="dropdown-item">
                    <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                      class="dropdown-icon" />
                    {{ option.name }}
                  </li>
                </ul>
              </div>
            </td>
            <td><input style="width: 100px;" class="form-control" formControlName="qty"></td>
            <td><input style="width: 100px;" class="form-control" formControlName="price"></td>
            <td><input style="width: 100px;" class="form-control" formControlName="finalAmount" [disabled]="true"></td>
            <td class="no-print">
              <button class="no-print btn btn-danger btn-sm" (click)="removePartRow(i)">✖</button>
            </td>
          </tr>

          <!-- Total for parts -->
          <tr>
            <td colspan="4" class="text-right"><strong>Total for Parts</strong></td>
            <td><input class="form-control" [value]="calculateTotalParts()" disabled></td>
            <td class="no-print"></td>
          </tr>
        </tbody>
      </table>
      <button class="no-print btn btn-success" (click)="addPartRow()">➕ Add Row</button>
    </div>
    <div class="container">
      <h3 class="text-center">Labour Description</h3>
      <table class="table table-bordered table-striped text-center">
        <thead class="table-dark">
          <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Amount</th>
            <th class="no-print">Actions</th>
          </tr>
        </thead>
        <tbody formArrayName="labours">
          <tr *ngFor="let labour of labours.controls; let i = index" [formGroupName]="i">
            <td><input style="width: 100px;" type="text" class="form-control" formControlName="code"></td>
            <td style="width: auto; white-space: nowrap;">
              <div class="dropdown-container">
                <input style="width: 400px !important;" type="text" formControlName="SeachableLabour"
                  (input)="onSearchInputLabour(labour,i)" placeholder="Search Labour..." class="search-box" />
                <ul *ngIf="LabourfilteredOptions.length > 0" class="dropdown-list">
                  <li *ngFor="let labour of LabourfilteredOptions" (click)="selectLabour(labour)" class="dropdown-item">
                    <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                      class="dropdown-icon" />
                    {{ labour.name }}
                  </li>
                </ul>
              </div>
            </td>
            <td><input style="width: 100px;" class="form-control" formControlName="finalAmount"></td>
            <td class="no-print">
              <button class="no-print btn btn-danger btn-sm" (click)="removeLabourRow(i)">✖</button>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-right"><strong>Total for Labour</strong></td>
            <td><input class="form-control" [value]="calculateTotalLabour()" disabled></td>
            <td class="no-print"></td>
          </tr>
        </tbody>
      </table>
      <button class="no-print btn btn-success" (click)="addLabourRow()">➕ Add Row</button>
    </div>
    <div class="text-center mt-3">
      <h4><strong>Grand Total: </strong>{{ calculateGrandTotal() }}</h4>
    </div>
    <div class="d-flex justify-content-center">
      <button (click)="printPage()" type="submit" class="no-print btn btn-primary">
        Save/Print As PDF
      </button>
    </div>

  </form>
</div>
<router-outlet />